In [2]:
import pandas as pd
# load the dataset
superstore_df=pd.read_csv("../data/superstore.csv")

#to display first few rows
superstore_df.head()

,Category,City,Country,Customer.ID,Customer.Name,Discount,Market,记录数,Order.Date,Order.ID,...,Sales,Segment,Ship.Date,Ship.Mode,Shipping.Cost,State,Sub.Category,Year,Market2,weeknum
0,Office Supplies,Los Angeles,United States,LS-172304,Lycoris Saunders,0.0,US,1,00:00.0,CA-2011-130813,...,19,Consumer,00:00.0,Second Class,4.37,California,Paper,2011,North America,2
1,Office Supplies,Los Angeles,United States,MV-174854,Mark Van Huff,0.0,US,1,00:00.0,CA-2011-148614,...,19,Consumer,00:00.0,Standard Class,0.94,California,Paper,2011,North America,4
2,Office Supplies,Los Angeles,United States,CS-121304,Chad Sievert,0.0,US,1,00:00.0,CA-2011-118962,...,21,Consumer,00:00.0,Standard Class,1.81,California,Paper,2011,North America,32
3,Office Supplies,Los Angeles,United States,CS-121304,Chad Sievert,0.0,US,1,00:00.0,CA-2011-118962,...,111,Consumer,00:00.0,Standard Class,4.59,California,Paper,2011,North America,32
4,Office Supplies,Los Angeles,United States,AP-109154,Arthur Prichep,0.0,US,1,00:00.0,CA-2011-146969,...,6,Consumer,00:00.0,Standard Class,1.32,California,Paper,2011,North America,40

In [3]:
#get the number of rows and columns
superstore_df.shape

(51290, 27)

In [4]:
#shows the columns names
print(superstore_df.columns)

#data types of columns
print(superstore_df.dtypes)

Index(['Category', 'City', 'Country', 'Customer.ID', 'Customer.Name',
       'Discount', 'Market', '记录数', 'Order.Date', 'Order.ID', 'Order.Priority',
       'Product.ID', 'Product.Name', 'Profit', 'Quantity', 'Region', 'Row.ID',
       'Sales', 'Segment', 'Ship.Date', 'Ship.Mode', 'Shipping.Cost', 'State',
       'Sub.Category', 'Year', 'Market2', 'weeknum'],
      dtype='object')
Category           object
City               object
Country            object
Customer.ID        object
Customer.Name      object
Discount          float64
Market             object
记录数                 int64
Order.Date         object
Order.ID           object
Order.Priority     object
Product.ID         object
Product.Name       object
Profit            float64
Quantity            int64
Region             object
Row.ID              int64
Sales               int64
Segment            object
Ship.Date          object
Ship.Mode          object
Shipping.Cost     float64
State              object
Sub.Category       object
Year                int64
Market2            object
weeknum             int64
dtype: object

In [5]:
#convert 'Order.Date' to datetime format
superstore_df['Order.Date']=pd.to_datetime(superstore_df['Order.Date'],errors='coerce')
print(superstore_df['Order.Date'].dtype)

datetime64[ns]

In [6]:
#drop meaningless columns
df=superstore_df.drop(columns=['记录数'])
df

,Category,City,Country,Customer.ID,Customer.Name,Discount,Market,Order.Date,Order.ID,Order.Priority,...,Sales,Segment,Ship.Date,Ship.Mode,Shipping.Cost,State,Sub.Category,Year,Market2,weeknum
0,Office Supplies,Los Angeles,United States,LS-172304,Lycoris Saunders,0.0,US,2025-02-17,CA-2011-130813,High,...,19,Consumer,00:00.0,Second Class,4.37,California,Paper,2011,North America,2
1,Office Supplies,Los Angeles,United States,MV-174854,Mark Van Huff,0.0,US,2025-02-17,CA-2011-148614,Medium,...,19,Consumer,00:00.0,Standard Class,0.94,California,Paper,2011,North America,4
2,Office Supplies,Los Angeles,United States,CS-121304,Chad Sievert,0.0,US,2025-02-17,CA-2011-118962,Medium,...,21,Consumer,00:00.0,Standard Class,1.81,California,Paper,2011,North America,32
3,Office Supplies,Los Angeles,United States,CS-121304,Chad Sievert,0.0,US,2025-02-17,CA-2011-118962,Medium,...,111,Consumer,00:00.0,Standard Class,4.59,California,Paper,2011,North America,32
4,Office Supplies,Los Angeles,United States,AP-109154,Arthur Prichep,0.0,US,2025-02-17,CA-2011-146969,High,...,6,Consumer,00:00.0,Standard Class,1.32,California,Paper,2011,North America,40
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
51285,Office Supplies,Los Angeles,United States,AM-103604,Alice McCarthy,0.2,US,2025-02-17,CA-2014-109701,High,...,69,Corporate,00:00.0,Same Day,5.15,California,Binders,2014,North America,49
51286,Office Supplies,Los Angeles,United States,AM-103604,Alice McCarthy,0.2,US,2025-02-17,CA-2014-109701,High,...,9,Corporate,00:00.0,Same Day,0.44,California,Binders,2014,North America,49
51287,Office Supplies,Los Angeles,United States,HR-147704,Hallie Redmond,0.2,US,2025-02-17,CA-2014-106964,Medium,...,12,Home Office,00:00.0,First Class,0.31,California,Binders,2014,North America,51
51288,Office Supplies,Los Angeles,United States,RM-196754,Robert Marley,0.2,US,2025-02-17,CA-2014-145219,Critical,...,90,Home Office,00:00.0,First Class,15.95,California,Binders,2014,North America,52
51289,Office Supplies,Los Angeles,United States,FH-143654,Fred Hopkins,0.2,US,2025-02-17,CA-2014-121398,Medium,...,154,Corporate,00:00.0,Standard Class,9.59,California,Binders,2014,North America,52

In [7]:
print(df.columns)

Index(['Category', 'City', 'Country', 'Customer.ID', 'Customer.Name',
       'Discount', 'Market', 'Order.Date', 'Order.ID', 'Order.Priority',
       'Product.ID', 'Product.Name', 'Profit', 'Quantity', 'Region', 'Row.ID',
       'Sales', 'Segment', 'Ship.Date', 'Ship.Mode', 'Shipping.Cost', 'State',
       'Sub.Category', 'Year', 'Market2', 'weeknum'],
      dtype='object')

In [8]:
#check missing values in each column
df.isnull().sum()

Category          0
City              0
Country           0
Customer.ID       0
Customer.Name     0
Discount          0
Market            0
Order.Date        0
Order.ID          0
Order.Priority    0
Product.ID        0
Product.Name      0
Profit            0
Quantity          0
Region            0
Row.ID            0
Sales             0
Segment           0
Ship.Date         0
Ship.Mode         0
Shipping.Cost     0
State             0
Sub.Category      0
Year              0
Market2           0
weeknum           0
dtype: int64

In [9]:
df.duplicated().sum()

0

In [10]:
#check unique values in each columns
for col in df.select_dtypes(include="object").columns:
    print(f"Column: {col}")
    print(df[col].unique()[:10])  # Displaying only the first 10 unique values
    print("-" * 50)

Column: Category
['Office Supplies' 'Technology' 'Furniture']
--------------------------------------------------
Column: City
['Los Angeles' 'San Francisco' 'San Diego' 'Roseville' 'Huntington Beach'
 'Burbank' 'Pomona' 'Vallejo' 'Lodi' 'San Gabriel']
--------------------------------------------------
Column: Country
['United States' 'France' 'Germany' 'El Salvador' 'Guatemala' 'Austria'
 'Nicaragua' 'Belgium' 'Switzerland' 'Italy']
--------------------------------------------------
Column: Customer.ID
['LS-172304' 'MV-174854' 'CS-121304' 'AP-109154' 'JF-154904' 'WB-218504'
 'JA-159704' 'SP-209204' 'RL-196154' 'KD-163454']
--------------------------------------------------
Column: Customer.Name
['Lycoris Saunders' 'Mark Van Huff' 'Chad Sievert' 'Arthur Prichep'
 'Jeremy Farry' 'William Brown' 'Joseph Airdo' 'Susan Pistek' 'Rob Lucas'
 'Katherine Ducich']
--------------------------------------------------
Column: Market
['US' 'EU' 'LATAM' 'Africa' 'APAC' 'EMEA' 'Canada']
--------------------------------------------------
Column: Order.ID
['CA-2011-130813' 'CA-2011-148614' 'CA-2011-118962' 'CA-2011-146969'
 'CA-2011-117317' 'CA-2011-125829' 'CA-2011-151295' 'CA-2011-135090'
 'CA-2011-133830' 'CA-2011-113579']
--------------------------------------------------
Column: Order.Priority
['High' 'Medium' 'Critical' 'Low']
--------------------------------------------------
Column: Product.ID
['OFF-PA-10002005' 'OFF-PA-10002893' 'OFF-PA-10000659' 'OFF-PA-10001144'
 'OFF-PA-10002105' 'OFF-PA-10004519' 'OFF-PA-10000223' 'OFF-PA-10001947'
 'OFF-PA-10002245' 'OFF-PA-10001363']
--------------------------------------------------
Column: Product.Name
['Xerox 225' 'Wirebound Service Call Books, 5 1/2" x 4"'
 'Adams Phone Message Book, Professional, 400 Message Capacity, 5 3/6” x 11”'
 'Xerox 1913' 'Xerox 223'
 'Spiral Phone Message Books with Labels by Adams' 'Xerox 2000'
 'Xerox 1974' 'Xerox 1895' 'Xerox 1933']
--------------------------------------------------
Column: Region
['West' 'East' 'South' 'Central' 'Africa' 'Central Asia' 'North Asia'
 'Caribbean' 'North' 'EMEA']
--------------------------------------------------
Column: Segment
['Consumer' 'Home Office' 'Corporate']
--------------------------------------------------
Column: Ship.Date
['00:00.0']
--------------------------------------------------
Column: Ship.Mode
['Second Class' 'Standard Class' 'Same Day' 'First Class']
--------------------------------------------------
Column: State
['California' 'New York' 'Washington' 'Nevada' 'Utah' 'Montana'
 'New Mexico' 'Idaho' 'Maryland' 'New Hampshire']
--------------------------------------------------
Column: Sub.Category
['Paper' 'Art' 'Storage' 'Appliances' 'Supplies' 'Envelopes' 'Fasteners'
 'Labels' 'Binders' 'Accessories']
--------------------------------------------------
Column: Market2
['North America' 'EU' 'LATAM' 'Africa' 'APAC' 'EMEA']
--------------------------------------------------

In [11]:
#statistical summary
df.describe()

,Discount,Order.Date,Profit,Quantity,Row.ID,Sales,Shipping.Cost,Year,weeknum
count,51290.000000,51290,51290.000000,51290.000000,51290.00000,51290.000000,51290.000000,51290.000000,51290.000000
mean,0.142908,2025-02-17 00:00:00,28.610982,3.476545,25645.50000,246.498440,26.375818,2012.777208,31.287112
min,0.000000,2025-02-17 00:00:00,-6599.978000,1.000000,1.00000,0.000000,0.002000,2011.000000,1.000000
25%,0.000000,2025-02-17 00:00:00,0.000000,2.000000,12823.25000,31.000000,2.610000,2012.000000,20.000000
50%,0.000000,2025-02-17 00:00:00,9.240000,3.000000,25645.50000,85.000000,7.790000,2013.000000,33.000000
75%,0.200000,2025-02-17 00:00:00,36.810000,5.000000,38467.75000,251.000000,24.450000,2014.000000,44.000000
max,0.850000,2025-02-17 00:00:00,8399.976000,14.000000,51290.00000,22638.000000,933.570000,2014.000000,53.000000
std,0.212280,NaN,174.340972,2.278766,14806.29199,487.567175,57.296810,1.098931,14.429795

In [12]:
#check for negative profit values
negative_profit_count=(df['Profit']<0).sum()
print(f"no of negative profit entries:{negative_profit_count}")

no of negative profit entries:12544

In [13]:
#check which product or categories have most losses
negative_profit=df[df['Profit']<0]
negative_profit['Category'].value_counts()

Category
Office Supplies    7003
Furniture          3117
Technology         2424
Name: count, dtype: int64

In [14]:
#region & markets with high losses
negative_profit['Region'].value_counts()
negative_profit['Market'].value_counts()

Market
APAC      3221
LATAM     2698
EU        2118
US        1871
EMEA      1606
Africa    1030
Name: count, dtype: int64

In [15]:
negative_profit[['Discount','Profit']].describe()

           Discount        Profit
count  12544.000000  12544.000000
mean       0.450812    -73.393348
std        0.187446    186.222175
min        0.002000  -6599.978000
25%        0.400000    -65.340000
50%        0.470000    -21.206250
75%        0.600000     -6.899200
max        0.850000     -0.000900

In [16]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 51290 entries, 0 to 51289
Data columns (total 26 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Category        51290 non-null  object
 1   City            51290 non-null  object
 2   Country         51290 non-null  object
 3   Customer.ID     51290 non-null  object
 4   Customer.Name   51290 non-null  object
 5   Discount        51290 non-null  float64
 6   Market          51290 non-null  object
 7   Order.Date      51290 non-null  datetime64[ns]
 8   Order.ID        51290 non-null  object
 9   Order.Priority  51290 non-null  object
 10  Product.ID      51290 non-null  object
 11  Product.Name    51290 non-null  object
 12  Profit          51290 non-null  float64
 13  Quantity        51290 non-null  int64
 14  Region          51290 non-null  object
 15  Row.ID          51290 non-null  int64
 16  Sales           51290 non-null  int64
 17  Segment         51290 non-null  object
 18  Ship.Date       51290 non-null  object
 19  Ship.Mode       51290 non-null  object
 20  Shipping.Cost   51290 non-null  float64
 21  State           51290 non-null  object
 22  Sub.Category    51290 non-null  object
 23  Year            51290 non-null  int64
 24  Market2         51290 non-null  object
 25  weeknum         51290 non-null  int64
dtypes: datetime64[ns](1), float64(3), int64(5), object(17)
memory usage: 10.2+ MB

In [17]:
#convert Ship.date to datetime
df['Ship.Date']=pd.to_datetime(df['Ship.Date'])

#convert Row.ID to int
df['Row.ID']=df['Row.ID'].astype(int)

#check of data types again
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 51290 entries, 0 to 51289
Data columns (total 26 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Category        51290 non-null  object
 1   City            51290 non-null  object
 2   Country         51290 non-null  object
 3   Customer.ID     51290 non-null  object
 4   Customer.Name   51290 non-null  object
 5   Discount        51290 non-null  float64
 6   Market          51290 non-null  object
 7   Order.Date      51290 non-null  datetime64[ns]
 8   Order.ID        51290 non-null  object
 9   Order.Priority  51290 non-null  object
 10  Product.ID      51290 non-null  object
 11  Product.Name    51290 non-null  object
 12  Profit          51290 non-null  float64
 13  Quantity        51290 non-null  int64
 14  Region          51290 non-null  object
 15  Row.ID          51290 non-null  int32
 16  Sales           51290 non-null  int64
 17  Segment         51290 non-null  object
 18  Ship.Date       51290 non-null  datetime64[ns]
 19  Ship.Mode       51290 non-null  object
 20  Shipping.Cost   51290 non-null  float64
 21  State           51290 non-null  object
 22  Sub.Category    51290 non-null  object
 23  Year            51290 non-null  int64
 24  Market2         51290 non-null  object
 25  weeknum         51290 non-null  int64
dtypes: datetime64[ns](2), float64(3), int32(1), int64(4), object(16)
memory usage: 10.0+ MB

In [20]:
df.to_csv("cleaned_sales_data.csv",index=False)